@import 'src/tokens';

.root {
  padding: $space-inset-ml;
  margin: $space-stack-l;
  border-radius: 8px;
  font-size: 14px;
  line-height: 22px;
  overflow-x: auto;
  // box-shadow: 0px 24px 40px -20px $dark-alpha-50;
}

.font {
  font-family: 'Roboto Mono', monospace !important;
}
